<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Electronic Product List Form</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

  <div class="container border border-1 p-5" >
    <div class="row">
      <div class="card-header">
        <h4>Electronic Product Form</h4>
      </div>
      <form class="row g-3" action="/elecronicPoductForm" method="post" enctype="multipart/form-data">
        <div class="col-md-6">
          <label for="Pro_name">Electronic Product Name</label>
          <input type="text" class="form-control" name="Pro_name" placeholder="Enter prouct Name">
        </div>
        <div class="col-md-6">
          <label for="price">Price</label>
          <input type="number" class="form-control" name="price" placeholder="Enter price">
        </div>
        <div class="col-12">
          <label for="rate">Description</label>
          <input type="text" class="form-control" name="description" placeholder="Enter description">
        </div>
        <div class="col-12">
          <label for="catagory">Brand</label>
          <input type="text" class="form-control" name="brand" placeholder="Enter brand">
        </div>
        <div class="col-md-6">
          <label for="catagory">Color</label>
          <input type="text" class="form-control" name="color" placeholder="Enter color">
        </div>
        <div class="col-md-6">
          <label for="catagory">Image</label>
          <input type="file" class="form-control" name="productImg" placeholder="Enter Image">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="submit" class="btn btn-primary"><a href="/views" class="text-white">Show Product
              List</a></button>
        </div>
      </form>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>